<a href="https://colab.research.google.com/github/syed0221/Python_fundamentals_b58_/blob/main/Copy_of_Day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
contitution with list datatype

**Organising the list datatype :**

In [ ]:
cars=['maruti','bmw','audi','benz','volvo','suzuki']
print(cars)

['maruti', 'bmw', 'audi', 'benz', 'volvo', 'suzuki']

In [ ]:
# req : i want to print list in alphabetical order

**1.Temporary approach** : we will be able to get the original order of the list decleared.\
**2.permanent aaproach** : change will be applied permanently and will not be able to get original order back.

In [ ]:
 #1.sorted

In [ ]:
print(sorted)   # A  -  Z

['audi', 'benz', 'bmw', 'maruti', 'suzuki', 'volvo']

In [ ]:
print(cars)  #original list still exist with sorted method

['maruti', 'bmw', 'audi', 'benz', 'volvo', 'suzuki']

In [ ]:
#2.sort method

In [ ]:
cars.sort()       # permanent change

In [ ]:
print(cars)

['audi', 'benz', 'bmw', 'maruti', 'suzuki', 'volvo']

In [ ]:
# req : how to print the list in reverse order..

In [ ]:
print(cars)

['audi', 'benz', 'bmw', 'maruti', 'suzuki', 'volvo']

In [ ]:
cars.reverse()

In [ ]:
print(cars)

['volvo', 'suzuki', 'maruti', 'bmw', 'benz', 'audi']

In [ ]:
# req : how to count the number of elements that are present in list..?

In [ ]:
len(cars)

6

 ** slicing  of list datatype :**

In [ ]:
students=['kartik','david','naveen','ramsingh','sravani','pavitra','noorain','iqra']

In [ ]:
# Genral syntax of slicing

**[startvalue : stopvalue: step count]** \
Note : **stopvalue is always exclusive,to include it we have to increment in index by +1**

In [ ]:
# req : i want to include kartik and david in one slice

In [ ]:
print(students[0:2])

['kartik', 'david']

In [ ]:
print(students[0:3])   #??

['kartik', 'david', 'naveen']

In [ ]:
print(students[0:7:2])     # ???

['kartik', 'naveen', 'sravani', 'noorain']