<a href="https://colab.research.google.com/github/syed0221/Python_fundamentals_b58_/blob/main/Day_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introduction to list data type :**

**Defination :** A list is a collection of items declared in a particular order.\
**Classification** : It is classified as mutable datatype (flexible===which we can edit or alter)\
**List is declare by======>[ ]**

In [ ]:
students=['ema','sunny','sandeep','adil','rehma','raj','santoesh','priya']
print(students)

['ema', 'sunny', 'sandeep', 'adil', 'rehma', 'raj', 'santoesh', 'priya']

In [ ]:
type(students)

list

In [ ]:
# how to access above element in the list....?

**Introduction to indexing : 0,1,2.....**

In [ ]:
students=['ema','sunny','sandeep','adil','rehma','raj','santoesh','priya']  # 0,1,2,3,4,5,6,7

In [ ]:
print(students)

['ema', 'sunny', 'sandeep', 'adil', 'rehma', 'raj', 'santoesh', 'priya']

In [ ]:
# i want to access adil name from above list....?

In [ ]:
print(students[3])

adil

In [ ]:
print(students[3].title())

Adil

In [ ]:
# please access priya name from the  above list

In [ ]:
print(students[7].title())

Priya

**1.How to add new elements to list of datatype-\
2.How to modify the elements to the list datatype-\
3.How to delete the elements from the list of datatype-**

In [ ]:
# i want add naveen name to the above list..

In [ ]:
students.append('naveen')

In [ ]:
print(students)

['ema', 'sunny', 'sandeep', 'adil', 'rehma', 'raj', 'santoesh', 'priya', 'naveen']

In [ ]:
# add name of shah in this list

In [ ]:
students.append('shah')

In [ ]:
print(students)

['ema', 'sunny', 'sandeep', 'adil', 'rehma', 'raj', 'santoesh', 'priya', 'naveen', 'shah']

In [ ]:
# shift to shah from last to 4th index      # Please explain this

In [ ]:

names = ['ema', 'sunny', 'sandeep', 'adil', 'rehma', 'raj', 'santoesh', 'priya', 'naveen', 'shah']

# Remove 'shah' from the last position
shah = names.pop()

# Insert 'shah' at the 4th index
names.insert(4, shah)

print(names)

['ema', 'sunny', 'sandeep', 'adil', 'shah', 'rehma', 'raj', 'santoesh', 'priya', 'naveen']

In [ ]:
print(students[6])

rehma

In [ ]:
print(students)

['ema', 'sunny', 'sandeep', 'adil', 'shah', 'shah', 'rehma', 'raj', 'santoesh', 'priya', 'naveen', 'shah']

In [ ]:
print(students[4])

shah

In [ ]:
print(students[4].title())

Shah

**Interview question** ===>> What is the difference between **append & insert** method in a list datatype....?

In [ ]:
print(students)

['ema', 'sunny', 'sandeep', 'adil', 'shah', 'shah', 'rehma', 'raj', 'santoesh', 'priya', 'naveen', 'shah']

In [ ]:
del students[4]

In [ ]:
print(students)

['ema', 'sunny', 'sandeep', 'adil', 'shah', 'rehma', 'raj', 'santoesh', 'priya', 'naveen', 'shah']

In [ ]:
# How to modify the elements to list datatype....?

In [ ]:
print(students)

['ema', 'sunny', 'sandeep', 'adil', 'raj', 'naveen', 'shah']

In [ ]:
# modify sunny to sunder

In [ ]:
students[1]='sunder'

In [ ]:
print(students)

['ema', 'sunder', 'sandeep', 'adil', 'raj', 'naveen', 'shah']

In [ ]:
# How to delete element ..?

In [ ]:
del students[6]

In [ ]:
print(students)

['ema', 'sunder', 'sandeep', 'adil', 'raj', 'naveen']

  #  **del student[3] **           **Permanent delete** of student 3

**Temporary deleting====> pop method**

Pop by defulat will be deleting the last element of the list and will be creating the corbon copy of deleted iteams to the variable assigned to it.

In [ ]:
x=students.pop()

In [ ]:
print(students)

['ema', 'sunder', 'sandeep', 'adil', 'raj']

In [ ]:
print(x)

naveen

**interview question** what is difference **delete and pop method** in a list.