<a href="https://colab.research.google.com/github/syed0221/Python_fundamentals_b58_/blob/main/Day_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introduction to Tuple data type**

**An immutable list is called as Tuple.**\
It is classified as immutable datatype.\
Tuple datatype is defiend =====> ()

In [3]:
numbers = (1,2,3,4,5)

In [4]:
print(numbers)

(1, 2, 3, 4, 5)

In [ ]:
# req : i want to modify the number 2 to 7

In [6]:
numbers[1] = 7

TypeError: ignored

In [7]:
dimentions =(100,250)   # 150
print(dimentions)

(100, 250)

In [8]:
dimensions =(150,250)
print(dimensions)

(150, 250)

In [9]:
students = ('arun','azeem','bindu','iqra')

In [10]:
type(students)

tuple

In [11]:
print(students[1])

azeem

In [15]:
print(students[1].title())

Azeem

In [16]:
for a in students :
    print(a)

arun
azeem
bindu
iqra